// Tailwind base
@tailwind base;
@tailwind components;
@tailwind utilities;

// Reset
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

// Variables
:root {
  --green: rgb(75, 78, 54);
  /*  --light-green: rgba(75, 78, 54, 0.062); */
  --light-green: rgba(75, 78, 54, 0.116);
  --blue: rgba(153, 184, 201, 0.425);
  --white: rgba(255, 255, 255, 0.459);
  --default-bg: rgba(243, 242, 237, 1);
  /*  --default-bg: #e8e6db; */

  /* --primary-font: "Source Sans Pro";
  --primary-font: "Arial"; */
  --primary-font: "Inter";
  /*   --primary-font: "Manrope"; */
  --secondary-font: "Cardo";
  /* --secondary-font: "Cormorant"; */

  --theme-bg: var(--default-bg);
  --theme-color: var(--green);
}

// Base
html,
body {
  background-color: var(--theme-bg);
  color: var(--theme-color);
  font-size: 12px;
  font-weight: 400;
  font-family: var(--primary-font);
  min-height: 100%;
  width: 100vw;
  -webkit-overflow-scrolling: touch;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: geometricPrecision;
  text-rendering: optimizeLegibility;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
  padding: 0;
}

h1 {
  font-size: clamp(4rem, 2.5vw, 4.5rem);
  font-family: var(--secondary-font);
}

h2 {
  font-size: clamp(2.5rem, 2.5vw, 3.5rem);
  font-family: var(--secondary-font);
}
h3 {
  font-size: clamp(2rem, 2.5vw, 2.5rem);
  font-family: var(--secondary-font);
}

h4 {
  font-size: clamp(1rem, 2.5vw, 1.5rem);
  font-family: var(--secondary-font);
}

p {
  font-size: clamp(0.8rem, 2.5vw, 1rem);
}

.subtitle {
  font-size: clamp(1rem, 2.5vw, 1.2rem);
  font-weight: 600;
  font-family: var(--primary-font);
}

button {
  display: inline-block;
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-size: 10px;
  font-weight: 500;
  /*  font-family: var(--secondary-font); */
  cursor: pointer;
  text-align: center;
  -webkit-appearance: none;
  -moz-appearance: none;
}

img {
  display: block;
  /*   width: 100%;
  height: 100%;
  object-fit: cover; */
  user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
